.appearin-facebook-button {
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAaCAYAAABCfffNAAAAy0lEQVRIx2NgGAWjYPiB////ewLx4//EAZA6T6g+ASBeRqwlxFoAtwhZH7GWYIBHzz78P3jqwf8Xbz7/v3D9BYY8sj6yLLl659X/tLot/ycuPvm/qGPX/8yGrdS3ZMrSU/9X77gGZl+5/Yo2lvQvOPF/28HbYPb9J+9pY8nB0w//57ftAFvUOPUgbSwBgcNnHv6ft/b8/xMXn/zfuPcGVSwhNwlvIcUSsjIjVG8aJaVAA5LBP2hZ3DTR3BKoRS00twRqUf1oNTIKCAIAcY1cGvj1VjgAAAAASUVORK5CYII=) !important;
	background-position:0 0 !important;
	opacity:0.7 !important;
	}
.appearin-facebook-button:hover,
.appearin-facebook-button:focus {
	opacity:1 !important;
	}

@media (-webkit-min-device-pixel-ratio:2), (min-resolution:192dpi) {
	.appearin-facebook-button {
		background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAA0CAYAAADIZmusAAAByklEQVR42u2X2UpCURSGpSfoAYKeoKfoRRqgLroqomiOiCZD6jKCgi70ooI0CWzQQBqgaEDKjAYaPDRpGklaev52G2mfSKKLc6IF64NPwQ3u9SGc7bYxDMMwDMMwDFMIACVCpzAK89CEzvx32wpYnF+3/aR8+Z1yoxisI1Ygplx4BYGZIU5Yj8uw34hQh8DsEA3Wo6n9FOaG/BH/JuQ+nsLE7C46RgMYHF+Df/Mc1zdJjE/vwOUN0Qg5vYyjrmcBFS3uL7Y4VuR7w8Di/w/J5fSPX0EO3Dy8jL3wDS6iCcz4DlHZ6qYTcnByJ4etbvfgNvYMI1Nz+3RCltZP5bB9Y8Fva0dnD3RC5gMROaxjcuPb2qWWoBOyFYrKYev7fchmczAS3L6gE5J4ekFNp1cOPLsYBvI8PKbQOLREIUThXokYH7nyHKntknG0QnRdhzdwjKo2z+fwTfZlePwRSiGKdOZNPqnEOSLPF6H8LPOaNSGE3p/GpFUhLliP8QJVKlyFgvTFqkjYKEybF6JiXELtT666yrLfhJht9w9DJ83fT4VYYQ/9EGUv/RBlH/0QZT/9EOUg/RClnX6IspN4iJJDOIRDOIRDOIRDLPQd6OQUvGnVfDgAAAAASUVORK5CYII=) !important;
		background-size:25px 26px;
		}
	}
